.profile__openPopupButton {
  grid-area: 1 / 4 / 2 / 5;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  justify-self: end;
  align-self: end;
  margin: 0 0 9px 0;
}

.profile__openPopupButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__openPopupButton:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 544px) {
  .profile__openPopupButton {
    grid-area: 3 / 3 / 4 / 4;
    margin: 0 0 2px 0;
  }
}
