.element__removeButton {
  grid-area: 1 / 1 / 2 / 6;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  align-self: center;
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__removeButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .element__removeButton:hover {
    opacity: 1;
  }
}
