@import url('./_typeSecondInput/popup__formInputText_typeSecondInput.css');
@import url('./_typeFistInput/popup__formInputText_typeFirstInput.css');

.popup__formInputText {
  padding: 0 0 8px 0;
  line-height: 17px;
  font-size: 14px;
  color: #000;
  border: 0;
  border-bottom: 1px solid #0003;
  border-radius: 0;
  background-color: inherit;
}

.popup__formInputText::placeholder {
  color: #c4c4c4;
  font-family: 'Inter', 'Arial', sans-serif;
}

.popup__formInputText:focus {
  outline: 0;
}

@media screen and (max-width: 420px) {
  .popup__formInputText::placeholder {
    font-size: 12px;
  }
}
