@import url('./__avatar/profile__avatar.css');
@import url('./__name/profile__name.css');
@import url('./__description/profile__description.css');
@import url('__openPopupButton/profile__openPopupButton.css');
@import url('__openPopupButtonImage/profile__openPopupButtonImage.css');
@import url('__addButton/profile__addButton.css');

.profile {
  display: grid;
  grid-template-columns: max-content 29px max-content 18px min-content 1fr 150px;
  margin: 39px 0 51px 0;
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: max-content minmax(29px, 1fr) max-content 18px min-content 1fr;
  }
}

@media screen and (max-width: 523px) {
  .profile {
    grid-template-columns: auto;
    margin: 42px 0 36px 0;
  }
}
