@import url('./__avatar/profile__avatar.css');
@import url('./__name/profile__name.css');
@import url('./__description/profile__description.css');
@import url('__openPopupButton/profile__openPopupButton.css');
@import url('__openPopupButtonImage/profile__openPopupButtonImage.css');
@import url('__addButton/profile__addButton.css');

.profile {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: max-content 28px 292px 66px 1fr 146px;
  grid-template-rows: 70px 6px 1fr;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: max-content 28px 292px 66px 1fr 1fr;
    grid-template-rows: 70px 6px 1fr 33px auto;
  }
}

@media screen and (max-width: 544px) {
  .profile {
    grid-template-columns: 0.6fr 190px 33px 0.4fr;
    grid-template-rows: auto 27px auto 8px auto 33px auto;
  }
}
