@import url('./__avatar/profile__avatar.css');
@import url('./__name/profile__name.css');
@import url('./__description/profile__description.css');
@import url('__openPopupButton/profile__openPopupButton.css');
@import url('__openPopupButtonImage/profile__openPopupButtonImage.css');
@import url('__addButton/profile__addButton.css');

.profile {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: max-content 28px max-content 20px min-content 1fr 146px;
  grid-template-rows: 65px 14px 1fr;
}

@media screen and (max-width: 700px) {
  .profile {
    grid-template-columns: max-content 28px max-content 20px min-content 1fr 1fr;
    grid-template-rows: 65px 14px 1fr 33px auto;
  }
}

@media screen and (max-width: 523px) {
  .profile {
    grid-template-columns: 0.8fr max-content 4px 1.2fr;
    grid-template-rows: auto 30px auto 11px auto 33px auto;
  }
}
