.footer__copyright {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0;
  font-size: 1.125rem;
  color: #545454;
  font-weight: 400;
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    font-size: 0.875rem;
  }
}
