.elements {
  grid-area: 3 / 1 / 4 / 2;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  grid-gap: 20px 18px;
}
