.profile__openPopupButton {
  grid-area: 1 / 5 / 2 / 6;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  justify-self: end;
  align-self: end;
}

.profile__openPopupButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 523px) {
  .profile__openPopupButton {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: start;
    /*margin: 0 0 10px 0;*/
  }
}
