.profile__avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.profile__avatar:hover {
  opacity: 0.2;
}

@media screen and (max-width: 700px) {
  .profile__avatar:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 544px) {
  .profile__avatar {
    grid-area: 1 / 1 / 2 / 5;
    justify-self: center;
  }
}
