.element__likeCounter {
  grid-area: 5 / 4 / 6 / 5;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin: 0;
  color: #000;
}
