.element__likeButton {
  grid-area: 3 / 4 / 4 / 5;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  height: 18px;
  width: 20px;
  align-self: center;
  background: url('../../../images/__likeButton/element__likeButtonImage.svg') no-repeat;
}

.element__likeButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .element__likeButton:hover {
    opacity: 1;
  }
}
