@import url('./__copyright/footer__copyright.css');

.footer {
  grid-area: 5 / 3 / 6 / 4;
  display: grid;
  grid-template-rows: auto 60px;
  justify-content: start;
}

@media screen and (max-width: 523px) {
  .footer {
    grid-template-rows: auto 36px;
  }
}
